//ммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммм
//
//                        _/_/_/           _/_/_/_/
//                      _/                _/
//                     _/  _/_/          _/_/_/
//                    _/    _/  A M E   _/      R A M  E
//                     _/_/_/          _/
//
// A Framework for Microsoft Windows '95 Entertainment Software Using MythOS
//
//          Copyright (c) 1995 - 1997 by Charybdis Enterprises, Inc.
//                           All Rights Reserved
//
//ддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд
//
//           *** Charybdis Enterprises, Inc. Company Confidential ***
//
//  This file and all associated files are the company proprietary property
//        of Charybdis Enterprises, Inc.  Unauthorized use prohibited.
//
// CHARYBDIS ENTERPRISES, INC. MAKES NO WARRANTIES, EXPRESS OR IMPLIED, AS
// TO THE CORRECTNESS OF THIS CODE OR ANY DERIVATIVE WORKS WHICH INCORPORATE
// IT.  CHARYBDIS ENTERPRISES, INC. PROVIDES THE CODE ON AN "AS-IS" BASIS
// AND EXPLICITLY DISCLAIMS ANY LIABILITY, INCLUDING CONSEQUENTIAL AND
// INCIDENTAL DAMAGES FOR ERRORS, OMISSIONS, AND OTHER PROBLEMS IN THE CODE.
//
//ддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд
//
// resource.rc
//
// Resource script for the GameFrame.
//
//ммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммм

//╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟
//
//                                Includes
//
//╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟

#define WIN32_LEAN_AND_MEAN
#include "windows.h"
#include "resource.h"

//╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠
//
//                               Resources
//
//╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠

//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// Menu pulldowns                                                           Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды

//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// String Table                                                             Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды

STRINGTABLE DISCARDABLE
BEGIN
    IDS_TITLE,      "Lander"

    //ддд Errors
    IDS_ERR_NOMEMORY "\
Out Of Memory\n\nA memory allocation failed, exiting..."
    IDS_ERR_MYTHOSFAIL "\
MythOS Development Library Failed to Initialize\
\n\nAttempt to setup system failed, exiting..."
    IDS_ERR_SCREENFAIL "\
Screen Failed to Initialize\
\n\nAttempt to setup system failed, exiting..."
    IDS_ERR_GAMEINITFAIL "\
Game Module Failed to Initialize\
\n\nAttempt to initialize game modules failed, exiting..."
    IDS_ERR_LOADFONTFAIL "\
Loading Font Data Failed\
\n\nFailed to load required font data, exiting..."
    IDS_ERR_MULTINSTANCE "\
Application Already Executing\
\n\nMultiple instances of this application are not allowed, exiting..."
    IDS_ERR_INTERNAL "\
Internal Error\
\n\nAn unexpected internal error was encountered, exiting..."

    IDS_ERR_PALETTELOADFAILED "\
Loading of Needed Palette Data Failed"
    IDS_ERR_CREATEVPORTFAILED "\
Viewport Allocation Failed\n\nFailed to create needed rendering viewport"

END



//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// Icons (Large and Small)                                                  Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды

GENERIC ICON "lcharyb.ico"



//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// Dialogs                                                                  Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды

IDD_MAXNETWORK_CHOOSEPROVIDER DIALOG DISCARDABLE  0, 0, 199, 158
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Choose Connection Mechanism"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         IDC_MAXNETWORK_LIST1,6,7,182,109,LBS_SORT |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "OK",IDOK,31,130,47,13
    PUSHBUTTON      "Cancel",IDCANCEL,120,130,47,13
END

IDD_MAXNETWORK_SELSESSION DIALOG DISCARDABLE  0, 0, 185, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Select Session"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         IDC_MAXNETWORK_LIST1,10,12,157,129,LBS_SORT |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "OK",IDOK,10,150,60,15
    PUSHBUTTON      "Cancel",IDCANCEL,100,150,65,15
END

IDD_MAXNETWORK_Q_CREATE DIALOG DISCARDABLE  0, 0, 142, 36
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Create Game or Connect to Game?"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Create",IDC_MAXNETWORK_CREATE,3,10,50,14
    PUSHBUTTON      "Connect",IDC_MAXNETWORK_CONNECT,78,10,50,14
END



//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// Version Information                                                      Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды

1 VERSIONINFO
 FILEVERSION 3,5,0,0
 PRODUCTVERSION 3,5,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x10001L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "OriginalFilename", "llander.exe\0"

            VALUE "ProductName", "Charybdis Lunar Lander Example\0"
            VALUE "InternalName", "Game Frame LLander\0"
            VALUE "FileDescription", "The MythOS '95 Game Framework Example\0"

            VALUE "ProductVersion", "1.1\0"
            VALUE "FileVersion", "0.2\0"

            VALUE "Comments", "CHARYBDIS ENTERPRISES, INC. COMPANY CONFIDENTIAL\0"

            VALUE "CompanyName", "Charybdis Enterprises, Inc.\0"

            VALUE "LegalCopyright",
"Copyright \251 1995 - 1997 by Charybdis Enterprises, Inc.\0"

            VALUE "LegalTrademarks",
"MythOS is a trademark of Charybdis Enterprises, Inc.\n\
Microsoft and Windows are tradmarks of Microsoft Corp.\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

//╟╠╡ eof - resource.rc ╡╠╟
