//ммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммм
//
//                                /\    /\ 
//                               /  \  /  \ 
//                              /    \/    \ 
//                             /  /\    /\  \ 
//                            /  /  \  /  Y T H O S
//                           /  /    \/    \  \ 
//                          /  /            \  \ 
//                         /__/              \__\ 
//
//                    Microsoft Windows 95/NT Version
//
//            Copyright (c) 1994-1998 by Charybdis Enterprises, Inc.
//                           All Rights Reserved.
//
//ддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд
//
//           *** Charybdis Enterprises, Inc. Company Confidential ***
//
//  This file and all associated files are the company proprietary property
//        of Charybdis Enterprises, Inc.  Unauthorized use prohibited.
//
// CHARYBDIS ENTERPRISES, INC. MAKES NO WARRANTIES, EXPRESS OR IMPLIED, AS
// TO THE CORRECTNESS OF THIS CODE OR ANY DERIVATIVE WORKS WHICH INCORPORATE
// IT.  CHARYBDIS ENTERPRISES, INC. PROVIDES THE CODE ON AN "AS-IS" BASIS
// AND EXPLICITLY DISCLAIMS ANY LIABILITY, INCLUDING CONSEQUENTIAL AND
// INCIDENTAL DAMAGES FOR ERRORS, OMISSIONS, AND OTHER PROBLEMS IN THE CODE.
//
//ддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд
//
//                               3D SCRIPT EXAMPLE
//
// Created by Chuck Walbourn
//
// resource.rc
//
//ммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммммм

//╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟
//
//                                Includes
//
//╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟╟

#define WIN32_LEAN_AND_MEAN
#include "windows.h"

//╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠
//
//                               Resources
//
//╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠╠

//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// Menu pulldowns                                                           Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды

//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// String Table                                                             Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды



//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// Icons (Large and Small)                                                  Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды

GENERIC ICON "charybds.ico"


//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// Dialogs                                                                  Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды


//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддд©
// Version Information                                                      Ё
//дддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддддды

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,6,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x10001L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "OriginalFilename", "script.exe\0"

            VALUE "InternalName", "Script\0"
            VALUE "FileDescription", "MythOS 95 3D Script Example\0"

            VALUE "FileVersion", "1.0\0"

            VALUE "ProductName", "MythOS 95\0"
            VALUE "ProductVersion", "1.5\0"

            VALUE "Comments", "CHARYBDIS ENTERPRISES, INC. COMPANY CONFIDENTIAL\0"

            VALUE "CompanyName", "Charybdis Enterprises, Inc.\0"

            VALUE "LegalCopyright",
"Copyright \251 1997-1998\0"

            VALUE "LegalTrademarks",
"MythOS is a trademark of Charybdis Enterprises, Inc.\n\
Microsoft and Windows are tradmarks of Microsoft Corp.\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

//╟╠╡ eof - resource.rc ╡╠╟
